.jumbotron {
    background:linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,1)), url("../../images/misc/home-bg.jpg");
    min-height: 700px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 8px solid rgb(46, 46, 46);
}

.jumbotron__header {
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.jumbotron__header-img {
    width: 136px;
    height: 39px;
}

.jumbotron__header a{
    background: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    width: 85px;
    height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.jumbotron__content {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
}

.jumbotron__content h1 {
    font-size: 3.2rem;
    text-align: center;
}

.jumbotron__content h5 {
    font-size: 1.7rem;
    text-align: center;
    margin: 1rem auto;
    font-weight: normal;
    margin-bottom: 30px;
}

.jumbotron__content p {
    padding-bottom: 20px;
    font-size: 1.2rem;
    text-align: center;
} 

.jumbotron__content--inner {
    width: 70%;
    margin-top: 80px;
    position: relative;
   display: flex;
   flex-direction: column;
   align-self: center;
}

.jumbotron__form {
    display: flex;
    position: relative;
    justify-content: center;
}

.jumbotron__form input {
    width: 500px;
    padding: 16px 10px;
    outline: none;
    position: relative;
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.jumbotron__form a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}


.jumbotron__form--button {
    display: flex;
    background: rgb(221, 6, 17);
    font-size: 30px;
    padding: 10px 10px;
    align-items: center;
    justify-content: space-evenly;
    width: 250px;
    border: 1px solid black;
    padding-bottom: 0px;
    padding-right: 5px;
    cursor: pointer;
    border-radius: 3px;

}

.jumbotron__form--button:hover {
background: #F40612;
}

.jumbotron__form--button svg {
    margin-left: 10px;
}

.jumbotron__form--button p{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: 28px;
    padding-bottom: 13px;

} 



.jumbotron__form span {
    position: absolute;
	pointer-events: none;
	top: 20px;
	left: 10px;
    transition: 0.2s ease all;
    color: rgba(156, 156, 156, 1);
}

.jumbotron__form input:focus ~ .floating-label,
.jumbotron__form input:not(:focus):valid ~ .floating-label
{
	top: 5px;
	left: 10px;
	font-size: 13px;
    opacity: 1;
    font-weight: 700;
}

@media screen and (max-width: 818px){
    .grid__container {
        flex-direction: column !important;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 758px){
    .jumbotron__form input {
        width: 70%
    }
    .jumbotron__form--button {
        width: 100px
    }
    .jumbotron__form--button p {
        font-size: 12px
    }
    .jumbotron__form {
        width: 100% !important;
        align-self: center;
    }
}