footer {
    background: black;
    position: relative;
    z-index: 999999
}

footer p a {
    text-decoration: none;
    color: #757575;
    display: flex;
    align-self: center;
}

footer p {
    max-width: 1090px;
    margin: 0 auto;
    padding-top: 70px;
    display: flex;
    justify-content: flex-start;
    padding: 30px 105px;

}

.footer__grid ul li {
    list-style-type: none;

}

.footer__grid ul li a {
    text-decoration: none;
    color: #757575;
}

.footer__grid ul li a:hover {
    text-decoration: underline;
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    margin: auto;
    max-width: 1090px;
    padding: 70px 45px;
    padding-top: 30px;
}

.footer__grid ul {
    margin-left: 60px;
}

.footer__grid ul li {
    margin-bottom: 18px;
    font-size: 13px;
}

@media screen and (max-width: 400px){
    .footer__grid {
        padding: 30px 0
    }
    footer p {
        padding: 30px 45px !important
    }
}
