.slides {
    position: relative;
    top: -200px;
    z-index: 999;
    color: white;
    margin: 0 40px;
}

.slides__container {
    height: 100%;
    margin-bottom: -200px;
}

.slide__row {
display: flex;
justify-content: center;
align-items: center;

}

.slide__row:hover .rec-arrow-left {
    opacity: 1;
}

.slide__row:hover .rec-arrow-right {
    opacity: 1;
}

.slide__row:hover .rec-pagination {
    display: block!important;
}

.slide__row img{
width: 100%;
min-width: 15px;
margin: 15px 2px;
margin-bottom: 30px;
display: flex;
justify-content: center;
outline: none;
border-radius: 3px;
cursor: pointer;

}

.rec-carousel-wrapper {
    position: relative !important;
}

.rec-dot{
    border-radius: 0 !important;
    height: 2px !important;
    box-shadow: none !important;
    background-color: grey !important;
    margin: .5px !important;
    top: -20px;
    left: 5px !important;
    justify-content: flex-end !important;
  
}

.rec-dot_active {
    background-color: rgb(194, 193, 193) !important;
}

.rec-pagination {
    position: absolute;
    z-index: 9999;
    top: -30px !important;
    right: 30px !important;
    display: none !important;
}

.rec-arrow-left,
.rec-arrow-right {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 2.5em !important;
    opacity: 0;
    color: rgb(231, 231, 231) !important;
}

.rec-arrow-right {
    right: -40px;
    position: absolute;
    transition: .1s ease !important;
}

.rec-arrow-right:hover {
    font-size: 3.5em !important;
}

.rec-arrow-left:hover {
    font-size: 3.5em !important;
}

.rec-arrow-left:disabled {
    cursor: initial !important;
}

.rec-arrow-right:disabled {
    cursor: initial !important;
}

.rec-arrow-left {
    position: absolute;
    left: -40px !important;
    transition: .2s ease !important

}

.rec-slider-container {
    margin: 0 !important;
}

.slide__row img:hover {
  
}