.accordion {
    background: #000000;
    color: white;
    padding: 70px 45px;
    border-bottom: 8px solid rgb(46, 46, 46);
}

.accordion h1 {
    font-size: 3.125rem;
    margin: auto;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.accordion__container {
max-width: 815px;
margin: 0 auto;
}

.accordion__item {
    background: #303030;
    margin-bottom: 10px;
}

.accoridon__item--header {
    font-size: 30px;
    padding: 15px 25px;
    margin-bottom: 5px;
    user-select: none;
    
}

.accordion__item--body {
    font-size: 30px;
    white-space: pre-wrap;
    height: auto;
    max-height: 0px;
    transition: max-height .25s cubic-bezier(.5,0,.1,1);
    overflow: hidden;
    min-width: 100px;
    border-top: 1px solid black;
}
.accordion__item--body p {
    padding: 30px 25px;
}



.open {
    max-height: 1200px;
    opacity: 1;
    height: auto;
}

.accordion__item--headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.accordion__item--headerContainer img {
    filter: brightness(0) invert(1);
    width: 24px;
    user-select: none;
    height: 24px;
    margin-right: 30px;
}

.form__p {
    text-align: center;
    max-width: 650px;
    margin: auto;
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 20px;
}